@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner-headline-div {
    margin-top: 15%;
    margin-left: 15%;
    width: 75%;

}

.banner-headline {
    color: #272727;
    font-weight: 800;
    font-size: 50px;
}

.banner-paragraph-div {
    margin-top: 3%;
    margin-left: 15%;
    width: 75%;

}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    /* 166.667% */
}

.banner-button-div {
    margin-top: 3%;
    margin-left: 15%;
}

.banner-button {
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner-picture-div {
    margin-left: 15%;
    margin-top: 15%;

}

.banner-picture {
    width: 635px;
    height: 800px;
}

main {
    text-align: center;
    display: inline-block;
}

.main-part-one {
    margin-top: 5%;
    text-align: center;
}

.part-one-headline-div {
    color: #272727;
}

.part-one-headline {
    font-size: 30px;
    font-weight: 800;
}

.part-one-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    /* 166.667% */
}

.main-part-two {
    margin-top: 5%;
    display: inline-flex;
}


.part-two-fower-one-image {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 90%;
    height: 75%;
}

.part-two-fower-two-image {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 75%;
    height: 75%;
}



.part-two-fower-three-image {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 90%;
    height: 75%;
}

.main-part-two a {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration: none;
}

.main-part-three {
    justify-content: center;
    width: 75%;
    margin-top: 5%;
    display: inline-flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.main-part-three div {
    margin: 1%;
}

.main-part-three img {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
}

.main-part-three a {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    text-decoration: none;
    /* 145.833% */
}

.main-part-four {
    padding: 15% 25%;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 5%;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 5%;
}

.part-four-text {
    padding-top: 15%;
}

.part-four-text h2 {
    margin-bottom: 1%;
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.part-four-text span {
    color: #E55473;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.part-four-text p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 5%;
}

.part-four-text button {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.main-part-five h2 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1%;

}

.main-part-five p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 5%;
}

.main-part-six {
    display: inline-flex;

    margin-bottom: 5%;
}

.main-part-seven {
    background-image: url(../images/Rectangle\ 9.png);
    height: 449px;
}

.main-part-seven h2 {
    padding-top: 10%;
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-part-seven p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.main-part-seven input {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.main-part-seven button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
}

footer {
    margin-top: 5%;
    text-align: center;
    background: #111010;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer h2 {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1%;
}

footer h2 span {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
}

.f-p-1 {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 1%;
}

.f-p-2 {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1%;
    padding-bottom: 1%;
}